<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Đơn hàng</h5>
                                            <h2 class="mb-3 font-18 text-success" title="Số lượng đơn hàng đã hoàn thành: {{ Quantity.soLuongDHDaHoanThanh }}">{{ Quantity.soLuongDHDaHoanThanh }}</h2>
                                            <p class="mb-0"><span class="col-red" title="Đơn hàng chưa xác thực: {{ Quantity.soLuongDHChuaXacThuc }}">{{ Quantity.soLuongDHChuaXacThuc }} đơn</span></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="assets/admin/img/banner/1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Khách hàng</h5>
                                            <h2 class="mb-3 font-18 text-success" title="Số lượng khách hàng hiện hành: {{ Quantity.soLuongKH }}">{{ Quantity.soLuongKH }}</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="assets/admin/img/banner/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Sản phẩm</h5>
                                            <h2 class="mb-3 font-18 text-success" title="Số lượng sản phẩm hiện hành: {{ Quantity.soLuongSP }}">{{ Quantity.soLuongSP > 9999999 ? '9999999+' : Quantity.soLuongSP }}</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="assets/admin/img/banner/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Doanh số</h5>
                                            <h2 class="mb-3 font-18 text-success" title="Doanh số năm {{ Quantity.namHienTai }}: {{ Quantity.doanhSo | currency:'VND':'' }}đ">{{ Quantity.doanhSo | currency:'VND':'' }}đ</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="assets/admin/img/banner/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card ">
                        <div class="card-header">
                            <h4>Doanh thu 12 tháng qua</h4>
                        </div>
                        <div class="card-body">
                            <div class="recent-report_chart">
                                <canvas id="barChart">{{ barChart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Doanh thu 5 năm qua</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="pieChart">{{ pieChart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Dòng sản phẩm bán chạy 12 tháng qua</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="doughnutChart">{{ doughnutChart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!-- Main Content -->