<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-sub-header mb-4">
                        <h4 class="page-title">Quản lý giá sản phẩm</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-7">
                            <button class="btn btn-primary btn-sm" title="Thêm giá sản phẩm mới" data-toggle="modal" data-target="#modal-create" (click)="showCreate()">
                                <i class="fas fa-plus"></i> Thêm
                            </button>
                            <button class="btn btn-warning btn-sm" title="Sửa thông tin giá sản phẩm" data-toggle="modal" data-target="#modal-update" (click)="showUpdate()">
                                <i class="fas fa-edit"></i> Sửa
                            </button>
                            <button class="btn btn-danger btn-sm" title="Xóa giá sản phẩm" data-toggle="modal" data-target="#modal-delete" (click)="showDelete()" (click)="delete()">
                                <i class="fas fa-trash-alt"></i> Xóa
                            </button>
                        </div>
                        <div class="col-5">
                            <div class="search_bar_admin">
                                <input placeholder="Tìm kiếm tên sản phẩm..." type="text" [(ngModel)]="search">
                                <button type="button" (click)="getListPrice(1)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" #scroll>
                        <div class="section-title table-responsive">
                            <table class="table jambo_table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Sản phẩm</th>
                                        <th>Ảnh sản phẩm</th>
                                        <th>Giá bán & Phần trăm giảm</th>
                                        <th>Ngày bắt đầu giảm</th>
                                        <th>Ngày kết thúc giảm</th>
                                        <th>Giá sau giảm</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of ListPrice | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems } ; let i = index">
                                    <tr (click)="onRowClick(item)" [class.selected]="selectedRow === item">
                                        <td>{{ totalItems - ((p - 1) * pageSize + i) }}</td>
                                        <td>{{ item.tenSP }}</td>
                                        <td>
                                            <img [src]="'data:image/jpg;base64,' + item.anhDaiDien" alt="{{ item.tenSP }}" class="img-fluid" width="120">
                                        </td>
                                        <td>
                                            <s>{{ item.giaBan | currency:'VND':'' }}đ</s>&nbsp;<span class="badge badge-danger">- {{ item.phanTramGiamGia }}%</span>
                                        </td>
                                        <td *ngIf="item.ngayBD == null" class="text-danger">Không có</td>
                                        <td *ngIf="item.ngayBD != null">{{ item.ngayBD | date:'dd/MM/yyyy' }}</td>
                                        <td *ngIf="item.ngayKT == null" class="text-danger">Không có</td>
                                        <td *ngIf="item.ngayKT != null">{{ item.ngayKT | date:'dd/MM/yyyy' }}</td>
                                        <td class="text-success">{{ item.giaSauGiam | currency:'VND':'' }}đ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--pagination start--> 
                        <div class="col-12">
                            <p style="font-size: 15px;">Tổng số bản ghi: <a style="color: red;">{{ totalItems }}</a></p>
                            <div class="pagination justify-content-center">
                                <pagination-controls class="pagination-controls" (pageChange)="getListPrice($event)" (pageBoundsCorrection)="getListPrice($event)" previousLabel="Trước" nextLabel="Sau">
                                </pagination-controls>
                            </div>
                        </div>
                        <!--pagination end--> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--modal-create-->
    <div #modalCreate class="modal fade" id="modal-create" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-lg"> 
            <form novalidate class="form-horizontal row-border">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Thêm giá sản phẩm mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Giá sản phẩm: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="GiaBan" [(ngModel)]="GiaBan"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phần trăm giảm giá: </label>
                                    <div> 
                                        <input type="text" class="form-control" name="PhanTramGiamGia" [(ngModel)]="PhanTramGiamGia"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ngày bắt đầu giảm: </label>
                                    <div>
                                        <input type="date" class="form-control" name="NgayBD" [(ngModel)]="NgayBD"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ngày kết thúc giảm: </label>
                                    <div>
                                        <input type="date" class="form-control" name="NgayKT" [(ngModel)]="NgayKT"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sản phẩm: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div>
                                        <ng-select [items]="ListProductSearch" bindLabel="tenSP" bindValue="maSP" placeholder="Chọn sản phẩm" name="MaSP" [(ngModel)]="MaSP" (input)="onSearchChange($event)">
                                            <ng-template ng-option-tmp let-item="item" let-search="search2">
                                                <div class="custom-option">
                                                    {{ item.tenSP }}
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-primary">
                            <i class="fa fa-sync-alt"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success" (click)="create()">
                            <i class="fas fa-save"></i> Lưu
                        </button>                            
                        <button type="button" class="btn btn-dark" data-dismiss="modal">
                            <i class="fas fa-times-circle"></i> Thoát
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--modal-create-->

    <!--modal-update-->
    <div #modalUpdate class="modal fade" id="modal-update" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="openModal">
        <div class="modal-dialog modal-lg"> 
            <form novalidate class="form-horizontal row-border">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Sửa thông tin giá sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Giá sản phẩm: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="GiaBan" [(ngModel)]="GiaBan"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phần trăm giảm giá: </label>
                                    <div> 
                                        <input type="text" class="form-control" name="PhanTramGiamGia" [(ngModel)]="PhanTramGiamGia"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ngày bắt đầu giảm: </label>
                                    <div>
                                        <input type="date" class="form-control" name="NgayBD" [(ngModel)]="NgayBD"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ngày kết thúc giảm: </label>
                                    <div>
                                        <input type="date" class="form-control" name="NgayKT" [(ngModel)]="NgayKT"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sản phẩm: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div>
                                        <ng-select [items]="ListProductSearch" bindLabel="tenSP" bindValue="maSP" placeholder="Chọn sản phẩm" name="MaSP" [(ngModel)]="MaSP" (input)="onSearchChange($event)">
                                            <ng-template ng-option-tmp let-item="item" let-search="search2">
                                                <div class="custom-option">
                                                    {{ item.tenSP }}
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="update()">
                            <i class="fas fa-save"></i> Lưu
                        </button>                            
                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="cancel()">
                            <i class="fas fa-times-circle"></i> Thoát
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--modal-update-->

</div>
<!-- Main Content -->