<!--slider start-->
<div class="slider_area">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of ListSlide; let i = index" [class.active]="i == 0">
                    <img [src]="'data:image/jpg;base64,' + item.anh" class="d-block" alt="slide {{ i+1 }}">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--slider end-->

<!--shipping start-->
<div class="shipping_area">
    <div class="container">
        <div class="shipping_inner">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>Chính hãng Casio Nhật Bản</h3>
                            <p>Văn Phú Casio ủy quyền Casio</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>Giao hàng toàn quốc</h3>
                            <p>Freeship trên toàn quốc</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping column_3">
                        <div class="shipping_icone">
                            <i class="fa fa-shield"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>Bảo hành chính hãng</h3>
                            <p>Bảo hành máy lên tới 5 năm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!--shipping end-->

<!--home banner sction start-->
<div class="home_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let item of ListBanner">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a routerLink = "{{ item.link }}">
                            <img [src]="'data:image/jpg;base64,' + item.anh" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--home banner sction end-->

<!-- sản phẩm mới start-->
<div class="product_area">
    <div class="container">
        <div class="product_area_title">
            <h3>Sản phẩm mới</h3>
        </div>
        <div class="row">
            <div class="product_active">
                <owl-carousel-o [options]="productOptions">
                    <ng-container  *ngFor="let item of ListNew">
                        <ng-template carouselSlide>
                            <div class="single_product"> 
                                <div class="product_thumb">
                                    <a routerLink = "/san-pham/{{ item.maSP }}">
                                        <img [src]="'data:image/jpg;base64,' + item.anhDaiDien" alt="{{ item.tenSP }}">
                                    </a>
                                </div>
                                <span class="product_label new">New</span> 
                                <div class="product_content">
                                    <h3><a routerLink = "/san-pham/{{ item.maSP }}">{{ item.tenSP }}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">{{ item.giaSauGiam | currency:'VND':'' }}đ</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart">
                                                <a (click)="addToCart(item.maSP)" title="Thêm vào giỏ">Thêm vào giỏ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div> 
    </div>
</div>
<!-- sản phẩm mới end-->

<!-- sản phẩm bán chạy start-->
<div class="product_area">
    <div class="container">
        <div class="product_area_title">
            <h3>Sản phẩm bán chạy</h3>
        </div>
        <div class="row">
            <div class="product_active">
                <owl-carousel-o [options]="productOptions">
                    <ng-container  *ngFor="let item of ListHot">
                        <ng-template carouselSlide>
                            <div class="single_product"> 
                                <div class="product_thumb">
                                    <a routerLink = "/san-pham/{{ item.maSP }}">
                                        <img [src]="'data:image/jpg;base64,' + item.anhDaiDien" alt="{{ item.tenSP }}">
                                    </a>
                                </div>
                                <span class="product_label hot">Hot</span> 
                                <div class="product_content">
                                    <h3><a routerLink = "/san-pham/{{ item.maSP }}">{{ item.tenSP }}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">{{ item.giaSauGiam | currency:'VND':'' }}đ</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart">
                                                <a (click)="addToCart(item.maSP)" title="Thêm vào giỏ">Thêm vào giỏ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div> 
    </div>
</div>
<!-- sản phẩm bán chạy end-->

<!-- sản phẩm khuyến mãi start-->
<div class="product_area">
    <div class="container">
        <div class="product_area_title">
            <h3>Sản phẩm khuyến mãi</h3>
        </div>
        <div class="row">
            <div class="product_active">
                <owl-carousel-o [options]="productOptions">
                    <ng-container  *ngFor="let item of ListSale">
                        <ng-template carouselSlide>
                            <div class="single_product"> 
                                <div class="product_thumb">
                                    <a routerLink = "/san-pham/{{ item.maSP }}">
                                        <img [src]="'data:image/jpg;base64,' + item.anhDaiDien" alt="{{ item.tenSP }}">
                                    </a>
                                </div>
                                <span class="product_label sale">- {{ item.phanTramGiamGia }}%</span> 
                                <div class="product_content">
                                    <h3><a routerLink = "/san-pham/{{ item.maSP }}">{{ item.tenSP }}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">{{ item.giaSauGiam | currency:'VND':'' }}đ</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart">
                                                <a (click)="addToCart(item.maSP)" title="Thêm vào giỏ">Thêm vào giỏ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div> 
    </div>
</div>
<!-- sản phẩm khuyến mãi end-->

<!--brand start-->
<div class="brand_area">
    <div class="container">
        <div class="brand_inner">  
            <div class="row">
                <div class="brand_active">
                    <owl-carousel-o [options]="categoryOptions">
                        <ng-container *ngFor="let item of ListCategory">
                            <ng-template carouselSlide>
                                <div class="single_brand">
                                    <a routerLink = "/dong-san-pham/{{ item.maDSP }}">
                                        <img [src]="'data:image/jpg;base64,' + item.logo" alt="{{ item.tenDSP }}">
                                    </a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>     
    </div>
</div>
<!--brand end-->

<!--shipping start-->
<div class="shipping_area shipping_contact ">
    <div class="container">
        <div class="shipping_contact">   
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>{{ PhoneWebsite }}</h3>
                            <p>Hỗ trợ miễn phí</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>{{ EmailWebsite }}</h3>
                            <p>Hỗ trợ đặt hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_shipping column_3">
                        <div class="shipping_icone">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>{{ WorkingTime }}</h3>
                            <p>Thời gian làm việc</p>
                        </div>
                    </div>
                </div>
            </div>  
            
            <!--newsletter start-->
            <div class="newsletter_area">
                <div class="row">
                    <div class="col-12">
                        <div class="field_newsletter">
                            <div class="newsletter_text">
                                <h3>Đăng ký nhận tin</h3>
                                <p>Hãy để lại email để nhận ưu đãi nhiều hơn</p>
                            </div>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter">
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Nhập địa chỉ email..." />
                                    <button id="mc-submit" type="submit">Đăng ký</button>
                                    <div class="email_icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--newsletter end-->
        </div>    
    </div>
</div>
<!--shipping end-->