<!--Header start-->
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn" style="cursor:pointer"> 
                    <i data-feather="align-justify"></i>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-lg fullscreen-btn" style="cursor:pointer">
                    <i data-feather="maximize"></i>
                </a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav navbar-right">
        <li class="dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user" style="cursor:pointer"> 
                <div *ngIf="user.anhDaiDien !== null">
                    <img alt="image" [src]="'data:image/jpg;base64,' + user.anhDaiDien" class="user-img-radious-style">
                </div>
                <div *ngIf="user.anhDaiDien === null">
                    <img alt="image" src="/assets/client/img/profile/avatar.png"  class="user-img-radious-style">
                </div> 
                <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">{{ user.hoTen }}</div>
                <a class="dropdown-item has-icon" routerLink="/admin/ho-so"> 
                    <i class="far fa-user"></i> Hồ sơ
                </a> 
                <a class="dropdown-item has-icon" routerLink="/admin/quan-ly-cai-dat"> 
                    <i class="fas fa-cog"></i> Cài đặt
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item has-icon text-danger" (click)="logout()"> 
                    <i class="fas fa-sign-out-alt"></i> Đăng xuất
                </a>
            </div>
        </li>
    </ul>
</nav>
<!--Header end-->