<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-sub-header mb-4">
                        <h4 class="page-title">Setting trang</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-7">
                            <button class="btn btn-primary btn-sm" title="Thêm setting mới" data-toggle="modal" data-target="#modal-create" (click)="showCreate()">
                                <i class="fas fa-plus"></i> Thêm
                            </button>
                            <button class="btn btn-warning btn-sm" title="Sửa thông tin setting" data-toggle="modal" data-target="#modal-update" (click)="showUpdate()">
                                <i class="fas fa-edit"></i> Sửa
                            </button>
                            <button class="btn btn-danger btn-sm" title="Xóa setting" data-toggle="modal" data-target="#modal-delete" (click)="showDelete()" (click)="delete()">
                                <i class="fas fa-trash-alt"></i> Xóa
                            </button>
                        </div>
                        <div class="col-5">
                            <div class="search_bar_admin">
                                <input placeholder="Tìm kiếm tên setting..." type="search" [(ngModel)]="search">
                                <button type="button" (click)="getListSetting(1)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" #scroll>
                        <div class="section-title table-responsive">
                            <table class="table jambo_table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên setting</th>
                                        <th>Ký hiệu</th>
                                        <th>Ảnh</th>
                                        <th>Mô tả</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of ListSetting | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems } ; let i = index">
                                    <tr (click)="onRowClick(item)" [class.selected]="selectedRow === item">
                                        <td>{{ totalItems - ((p - 1) * pageSize + i) }}</td>
                                        <td>{{ item.tenSetting }}</td>
                                        <td>{{ item.kyHieu }}</td>
                                        <td *ngIf="item.anh != ''">
                                            <img [src]="'data:image/jpg;base64,' + item.anh" alt="{{ item.tenSetting }}" class="img-fluid" >
                                        </td>
                                        <td *ngIf="item.anh == ''" title="Setting hiện đang không có ảnh">
                                            <img alt="Không có ảnh">
                                        </td>
                                        <td>{{ item.moTa }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--pagination start--> 
                        <div class="col-12">
                            <p style="font-size: 15px;">Tổng số bản ghi: <a style="color: red;">{{ totalItems }}</a></p>
                            <div class="pagination justify-content-center">
                                <pagination-controls class="pagination-controls" (pageChange)="getListSetting($event)" (pageBoundsCorrection)="getListSetting($event)" previousLabel="Trước" nextLabel="Sau">
                                </pagination-controls>
                            </div>
                        </div>
                        <!--pagination end--> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--modal-create-->
    <div #modalCreate class="modal fade" id="modal-create" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-lg"> 
            <form novalidate class="form-horizontal row-border">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Thêm setting mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Tên setting: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="TenSetting" [(ngModel)]="TenSetting"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ký hiệu: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="KyHieu" [(ngModel)]="KyHieu"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ảnh: </label>
                                    <div> 
                                        <input type="file" #fileInputC class="form-control" (change)="onFileChange($event)"/> 
                                        <img *ngIf="previewImageUrl" [src]="previewImageUrl" class="preview-image" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mô tả: </label>
                                    <div>
                                        <textarea class="input form-control" name="MoTa" [(ngModel)]="MoTa" style="height: 80px;">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-primary">
                            <i class="fa fa-sync-alt"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success" (click)="create()">
                            <i class="fas fa-save"></i> Lưu
                        </button>                            
                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="cancel()">
                            <i class="fas fa-times-circle"></i> Thoát
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--modal-create-->

    <!--modal-update-->
    <div #modalUpdate class="modal fade" id="modal-update" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="openModal">
        <div class="modal-dialog modal-lg"> 
            <form novalidate class="form-horizontal row-border">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Sửa thông tin setting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Tên setting: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="TenSetting" [(ngModel)]="TenSetting"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ký hiệu: 
                                        <a class="text-danger">(*)</a>
                                    </label>
                                    <div> 
                                        <input type="text" class="form-control" name="KyHieu" [(ngModel)]="KyHieu"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ảnh: </label>
                                    <div> 
                                        <input type="file" #fileInputU class="form-control" (change)="onFileChange($event)"/> 
                                        <img *ngIf="previewImageUrl" [src]="previewImageUrl" class="preview-image" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mô tả: </label>
                                    <div>
                                        <textarea class="input form-control" name="MoTa" [(ngModel)]="MoTa" style="height: 80px;">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="update()">
                            <i class="fas fa-save"></i> Lưu
                        </button>                            
                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="cancel()">
                            <i class="fas fa-times-circle"></i> Thoát
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--modal-update-->
</div>
<!-- Main Content -->
