<!--footer start-->
<div class="footer_area">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-md-3 col-xl-3">
                    <div class="single_footer">
                        <h3>Văn Phú Casio</h3>
                        <div class="footer_contact">
                            <dl>
                                <dd>Địa chỉ: {{ AddressWebsite }}</dd>
                            </dl>
                            <dl>
                                <dt>Tư vấn mua hàng (8:00 - 18:00):</dt>
                                <dd>
                                    <a href="tel:{{ PhoneWebsite }}">
                                        <i class="fa fa-phone"></i> {{ PhoneWebsite }}
                                    </a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Chăm sóc khách hàng:</dt>
                                <dd>
                                    <a href="tel:0357717404">
                                        <i class="fa fa-phone"></i> {{ PhoneWebsite }}
                                    </a>
                                </dd>
                            </dl>
                            <dl>
                                <dd>
                                    <a href="mailto:{{ EmailWebsite }}">
                                        <i class="fa fa-envelope"></i> {{ EmailWebsite }}
                                    </a>
                                </dd>
                            </dl>
                            <dl>
                                <dd>
                                    <a href="{{ DomainWebsite }}">
                                        <i class="fa fa-globe"></i> {{ DomainWebsite }}
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3">
                    <div class="single_footer">
                        <h3>Thông tin</h3>
                        <ul>
                            <li><a routerLink="/gioi-thieu">Giới thiệu</a></li>
                            <li><a routerLink="/lien-he">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3">
                    <div class="single_footer">
                        <h3>Hỗ trợ</h3>
                        <ul>
                            <li><a routerLink="/">Hướng dẫn mua hàng online</a></li>
                            <li><a routerLink="/">Trung tâm bảo hành</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3">
                    <div class="single_footer">
                        <h3>Chính sách</h3>
                        <ul>
                            <li><a routerLink="/">Quy định về hình thức thanh toán</a></li>
                            <li><a routerLink="/">Quy định bảo hành</a></li>
                            <li><a routerLink="/">Chính sách bảo mật</a></li>
                            <li><a routerLink="/">Điều kiện giao dịch chung</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_content">
                        <p>&copy; {{ CopyrightWebsite }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer end-->